body {
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    position: top;
    position: top-fixed;
    background-image: linear-gradient(to right, #D8D8D8 , white);
    width: 100%;
    height: 250px;
    position: fixed; 
    border-radius: 10px;
    overflow: hidden;
    top: 0; 
}
.upCon{
    display: flex;
    flex-direction: row;
}
.sideCon{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    width: 50%;
    
}
.sideCon a{
    display: flex;
    flex-direction: row;
    width: 30%;
    color: #000000;
    margin: 20px;
}

.othSideCon{
    margin-top: 10px;
    display: flex;
    margin-left: 100px;
    flex-direction: row;
    width: 40%;
    
}
.othSideCon a{
    display: flex;
    flex-direction: row;
    width: 70%;
    color: #000000;
    margin: 20px;
}

.upCon #id1{
    color: #000000;
}
#corn{
    height: 20px;
    background-color: #EFEFEF;;
    border: none;
}
.classC{
    color: #6CD7D1;
}
.drop{
    color: #6CD7D1;
    background-color: #DFDFDF;
    border: none;
}
.navCon{
    margin-top: 20px;
    margin-left: 40px;
}
.navCon td{
    margin-left: 10px;
}
/*  */
.icon{
    display: flex;
    width: 100%;
    flex-direction: row;
    margin-left: 110px;
}
#paleB{
    background-color: #6CD7D1;
}
#lightB{
    background-color: #EFAAA9;
}
#bringal{
    background-color: #714FF1;
}
.circle{
    height: 5px;
    width: 5px;
    border-radius: 5px;
    margin-top: 25px;
}
.icon p{
    margin-left: 10px;
    padding: 5px;
}
#id2{
    height: 20px;
    width: 70px;
    text-align: center;
    background-color: #E7E7E7;
    border-radius: 5px;
}
.icon span{
    font-size: 10px;
    color: black;
    margin-left: 5px;
}
.icon input{
    height: 30px;
    border-radius: 5px;
    width: 80px;
    border: 1px  solid #EFEFEF;
    margin-top: 20px;
    margin-left: 600px;
    float: right;
}

.tableToday h6{
    color: #000000;
    margin-left: 100px;
}
.tableToday table{
    background-color: #EFEFEF;
    width: 80%;
    height: 60px;
    margin-top: 5px;
    border-radius: 5px;
    margin-left: 200px;
    padding: 20px;
}
.tableToday select{
    background-color:#EFEFEF;;
    border: none;
}
.dataSize{
    width: 20px;
}

.entryData{
    width: 500px;
}
.debit{
    color:#d66a6a;
}
.credit{
    color: #6CD7D1;
}
.creditB{
    color: #6CD7D1;
    background-color: #DDF0F1;
    border: none;
    border-radius: 4px;
    padding: 7px;
}
.debitBtn{
    color: #d66a6a;
    background-color:#F2DFDE;
    border: none;
    border-radius: 4px;
    padding: 7px;
}
.subB{
    background-color: #6CD7D1;
    color: white;
    border: none;
    border-radius: 8px;
    width: 60%;
    height: 45px;
}
.nextSec h6{
    color:#534949;
    margin-left: 200px;
}

.bgSec{
    background-color:#EFEFEF;
    width: 80%;
    height: 100px;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 200px;
}
.rowList{
    display: flex;
    flex-direction: row; 

    
}
.rowOne{
    display: flex;
    width: 50%;
    margin-left: 25px;
    margin-bottom: 10px;
    height: 50%;

}
.rowTwo{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    width: 200px;
    
}
.rowThree{
    color: #000000; font-size: 12px; 
    margin-bottom: 5px;
    margin-left: 25px;
    
    
}
.nextSec select{
    background-color: #EFEFEF;
    border: none;
}

