.infoData {
  display: grid;
  grid-template-areas:
    "a b c d e"
    "f g h i j"
    "k l m n o"
    "p q r s t";
  grid-gap: 25px;
}

.a {
  grid-area: a;
  background-image: url(https://images.unsplash.com/photo-1490818387583-1baba5e638af?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
  height: 300px;
  width: auto;
  font-size: 2px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  font-size: 30px;
}

.b {
  grid-area: b;
  background-image: url(https://images.unsplash.com/photo-1498837167922-ddd27525d352?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
  height: 300px;
  width: auto;
 font-size: 5px;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  font-size: 30px;
}

.c {
  grid-area: c;
  background-image: url(https://images.unsplash.com/photo-1444459094717-a39f1e3e0903?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
  height: 300px;
  width: auto;
 font-size: 5px;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  font-size: 30px;
}

.d {
  grid-area: d;
  background-image: url(https://images.unsplash.com/photo-1521305916504-4a1121188589?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
  height: 300px;
  width: auto;
 font-size: 5px;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  font-size: 30px;
}
.e {
  grid-area: e;
  background-image: url(https://images.unsplash.com/photo-1490457843367-34b21b6ccd85?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=769&q=80);
  height: 300px;
  width: auto;
 font-size: 5px;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  font-size: 30px;
}
.f {
  grid-area: f;
  background-image: url(https://images.unsplash.com/photo-1466637574441-749b8f19452f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
  height: 300px;
  width: auto;
 font-size: 5px;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  font-size: 30px;
}
.g {
  grid-area: g;
  background-image: url(https://images.unsplash.com/photo-1466637574441-749b8f19452f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
  height: 300px;
  width: auto;
 font-size: 5px;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  font-size: 30px;
}
.h {
  grid-area: h;
  background-image: url(https://images.unsplash.com/photo-1466637574441-749b8f19452f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
  height: 300px;
  width: auto;
 font-size: 5px;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  font-size: 30px;
}
.i {
  grid-area: i;
  background-image: url(https://images.unsplash.com/photo-1466637574441-749b8f19452f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
  height: 300px;
  width: auto;
 font-size: 5px;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  font-size: 30px;
}
.j {
  grid-area: j;
  background-image: url(https://images.unsplash.com/photo-1466637574441-749b8f19452f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
  height: 300px;
  width: auto;
 font-size: 5px;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  font-size: 30px;
}
.k {
  grid-area: k;
  background-image: url(https://images.unsplash.com/photo-1466637574441-749b8f19452f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
  height: 300px;
  width: auto;
 font-size: 5px;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  font-size: 30px;
}
.l {
  grid-area: l;
  background-image: url(https://images.unsplash.com/photo-1466637574441-749b8f19452f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
  height: 300px;
  width: auto;
 font-size: 5px;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  font-size: 30px;
}
.m {
  grid-area: m;
  background-image: url(https://images.unsplash.com/photo-1466637574441-749b8f19452f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
  height: 300px;
  width: auto;
 font-size: 5px;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  font-size: 30px;
}
.n {
  grid-area: n;
  background-image: url(https://images.unsplash.com/photo-1466637574441-749b8f19452f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
  height: 300px;
  width: auto;
 font-size: 5px;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  font-size: 30px;
}
.o {
  grid-area: o;
  background-image: url(https://images.unsplash.com/photo-1466637574441-749b8f19452f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
  height: 300px;
  width: auto;
 font-size: 5px;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  font-size: 30px;
}
.p {
  grid-area: p;
  background-image: url(https://images.unsplash.com/photo-1466637574441-749b8f19452f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
  height: 300px;
  width: auto;
 font-size: 5px;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  font-size: 30px;
}
.q {
  grid-area: r;
  background-image: url(https://images.unsplash.com/photo-1466637574441-749b8f19452f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
  height: 300px;
  width: auto;
 font-size: 5px;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  font-size: 30px;
}
.r {
  grid-area: r;
  background-image: url(https://images.unsplash.com/photo-1466637574441-749b8f19452f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
  height: 300px;
  width: auto;
 font-size: 5px;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  font-size: 30px;
}
.s {
  grid-area: s;
  background-image: url(https://images.unsplash.com/photo-1466637574441-749b8f19452f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
  height: 300px;
  width: auto;
 font-size: 5px;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  font-size: 30px;
}
.t {
  grid-area: e;
  background-image: url(https://images.unsplash.com/photo-1466637574441-749b8f19452f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
  height: 300px;
  width: auto;
 font-size: 5px;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  font-size: 30px;
}

@media (max-width: 900px) {
  .infoData {
    display: grid;
    grid-template-areas:
     "left"
      "a b"
      "c d"
      "e f"
      "g h"
      "i j"
      "k l"
      "m n"
      "o p"
      "q r"
      "s t";
  }





  .a {
    width: 300px;
    height: 300px;
  }

  .b {
    width: 300px;
    height: 300px;
  }

  .c {
    width: 300px;
    height: 300px;
  }

  .d {
    width: 300px;
    height: 300px;
  }
  .e {
    width: 300px;
    height: 300px;
  }
  .f {
    width: 300px;
    height: 300px;
  }

  .g {
    width: 300px;
    height: 300px;
  }

  .h {
    width: 300px;
    height: 300px;
  }

  .i {
    width: 300px;
    height: 300px;
  }
  .j {
    width: 300px;
    height: 300px;
  }
  .k {
    width: 300px;
    height: 300px;
  }

  .l {
    width: 300px;
    height: 300px;
  }

  .m {
    width: 300px;
    height: 300px;
  }

  .n {
    width: 300px;
    height: 300px;
  }
  .o {
    width: 300px;
    height: 300px;
  }
  .p {
    width: 300px;
    height: 300px;
  }

  .q {
    width: 300px;
    height: 300px;
  }

  .r {
    width: 300px;
    height: 300px;
  }

  .s {
    width: 300px;
    height: 300px;
  }
  .t {
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 600px) {
  .infoData {
    display: grid;
    grid-template-areas:
      "a"
      "d"
      "e"
      "b"
      "c"
      "f"
      "g"
      "h"
      "i"
      "j"
      "k"
      "l"
      "m"
      "n"
      "o"
      "p"
      "q"
      "r"
      "s"
      "t";
  }



  .a {
    width: auto;
    height: 300px;
  }

  .b {
    width: 300px;
    height: 300px;
  }

  .c {
    width: auto;
    height: 300px;
  }

  .d {
    width: auto;
    height: 300px;
  }
  .e {
    width: auto;
    height: 300px;
  }
  .f {
    width: auto;
    height: 300px;
  }

  .g {
    width: auto;
    height: 300px;
  }

  .h {
    width: auto;
    height: 300px;
  }

  .i {
    width: auto;
    height: 300px;
  }
  .j {
    width: auto;
    height: 300px;
  }
  .k {
    width: auto;
    height: 300px;
  }

  .l {
    width: auto;
    height: 300px;
  }

  .m {
    width: auto;
    height: 300px;
  }

  .n {
    width: auto;
    height: 300px;
  }
  .o {
    width: auto;
    height: 300px;
  }
  .p {
    width: auto;
    height: 300px;
  }
  .q {
    width: auto;
    height: 300px;
  }
  .r {
    width: auto;
    height: 300px;
  }
  .s {
    width: auto;
    height: 300px;
  }
  .t {
    width: auto;
    height: 300px;
  }
}
